@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #ffc145;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #b8b8d1;
}
